@import url(font.css);
@import url(reset.css);



.main{
    position:relative;
}
.main img{
    width:100%;
}
.main .line{
    border:2px solid #cfcecc;
    width:calc(100% - 60px);
    height:calc(100% + 100px);
    position:absolute;
    top:30px;
    left:30px;
}
.main .man, .main .woman{
    font-size:16px;
    line-height:1.7;
    color:#b2aba3;
}
.main .man{
    position:absolute;
    left:60px;
    bottom:-104px;
}
.main .woman{
    position:absolute;
    right:60px;
    bottom:-104px;
}
.main .date{
    position:absolute;
    right:calc(50% - 32px);
    bottom: -70px;
    font-size:26px;
    font-family: 'CoreGothicD';
    color:#495062;
}
.main .location{
    position:absolute;
    bottom:-90px;
    left:calc(50% - 55px);
    font-size:13px;
    font-family: 'CoreGothicD';
    color:#495062;
}
.sec2{
    text-align:center;
    padding-top:230px;
}

h2{
    font-size:20px;
    font-family: 'CoreGothicD';
    line-height:1.5;
    margin-bottom:40px;
    color:#ce8e60;
    text-align:center;
}
.sec2 p{
    font-size:16px;
    line-height:1.8;
    color:#8a8a8a;
}
.sec2 .name{
    margin-top:20px;
}
.sec3{
    text-align:center;
    padding-top:80px;
}
.sec3 img {
    width: 80%;
}
.sec3 .line{
    border-top:1px solid #cfcecc;
    width:70%;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:40px;
}
.sec3 p{
    font-size: 13px;
    font-family: 'CoreGothicD';
    margin-bottom:20px;
    color:#8a8a8a;
    display:flex;
    align-items: center;
    justify-content: center;
}
.sec3 p span{
    font-size:17px;
    font-family: 'CoreGothicD';
    color:#8a8a8a;
}
.sec3 .icon{
    display:inline-block;
    background:url(../images/phone-square.svg) 0 0 no-repeat;
    width: 28px;
    height:28px;
    background-size:100%;
    margin-left:20px;
    margin-top:-1px;
}
.sec4 .gallery{
    padding:0 20px;
}
.sec4{
    padding:80px 0;
}
.sec5{
    background: #eae3d9;
    padding:90px 0;
}
.sec5 .calendar{
    width:300px;
    margin:0 auto;
}
.sec5 .calendar .month{
    font-size:20px;
    text-align:center;
    margin-bottom:30px;
    color:#ce8e60;
}
.sec5 .calendar .week{
    display:flex;
}
.sec5 .calendar .week span{
    display:inline-block;
    width:30px;
    height:30px;
    margin:5px;
    font-size:14px;
    text-align: center;
    font-family: 'CoreGothicD';
    color:#826b59;
}
.sec5 .calendar .date{
    display:flex;
    flex-wrap: wrap;
}
.sec5 .calendar .date span{
    display:inline-block;
    width:30px;
    height:30px;
    font-size:14px;
    margin:5px;
    padding:8px 5px;
    text-align: center;
    font-family: 'CoreGothicD';
    color:#826b59;
}
.sec5 .calendar .date span.on{
    background: #d59360;
    border-radius: 20px;
    color:#fff;
}
.sec5 .info{
    margin-top:70px;
    text-align:center;
}
.sec5 .info .date{
    display:inline-block;
    margin:0 auto;
    font-size:16px;
    padding-bottom:5px;
    border-bottom:1px solid #bf7a44;
    margin-bottom:30px;
    color:#bf7a44;
}
.sec5 .info .location{
    font-sie:16px;
    margin-bottom:10px;
}
.sec5 .info .address{
    font-sie:14px;
    margin-bottom:12px;
}
.sec5 .info .call{
    font-sie:16px;
}
.sec6 .way{
    padding:20px 0;
    background:rgba(167, 141, 103, .8);
}
.sec6 .way > div{
    margin:25px auto;
    width:330px;

}
.sec6 .way span{
    font-size:16px;
    display:inline-block;
    margin-bottom:13px;
    color:#fff;
    font-weight:bold;
    padding-bottom:4px;
    border-bottom:1px solid #fff;
}
.sec6 .way p{
    font-size:13px;
    line-height:1.7;
    color:#fff;
}

.sec7{
    padding:30px 0 0;
}
.sec7 .title{
    font-size:16px;
    color:#bf7a44;
    margin-bottom:15px;
}
.sec7 .title .gift{
    background:url(../images/gift.svg) 0 0 no-repeat;
    width:24px;
    height:24px;
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    margin-top:-5px;
}
.sec7 .subT{
    font-size:12px;
    line-height:1.6;
    margin-bottom:10px;
}
.sec7 .account{
    background:#bf7a44;
    padding:5px 0;
}
.sec7 .account p{
    color:#fff;
    font-size:13px;
    margin:10px 0;
}
.sec7 .account >div{
    width:330px;
    margin:0 auto;
}
.sec7 .text{
    width:330px;
    margin:0 auto;

}
